In [1]:
from glob import glob
import pandas as pd

In [28]:
lst_data = glob('./data/*')
var_data = ['cust_demo', 'prod_buy', 'service_use', 'prod_cat', 'partner', 'lpay']
for name, file in zip(var_data, lst_data):
    globals()[name] = pd.read_csv(file)

In [31]:
for name in var_data:
    print(name, ': ', globals()[name].shape)

cust_demo :  (29913, 4)
prod_buy :  (4381743, 10)
service_use :  (248304, 9)
prod_cat :  (1933, 4)
partner :  (8808, 4)
lpay :  (353184, 7)

In [32]:
for name in var_data:
    print(name, ': ', globals()[name].columns)

cust_demo :  Index(['cust', 'ma_fem_dv', 'ages', 'zon_hlv'], dtype='object')
prod_buy :  Index(['cust', 'rct_no', 'chnl_dv', 'cop_c', 'br_c', 'pd_c', 'de_dt', 'de_hr',
       'buy_am', 'buy_ct'],
      dtype='object')
service_use :  Index(['cust', 'rct_no', 'cop_c', 'br_c', 'chnl_dv', 'de_dt', 'vst_dt',
       'de_hr', 'buy_am'],
      dtype='object')
prod_cat :  Index(['pd_c', 'pd_nm', 'clac_hlv_nm', 'clac_mcls_nm'], dtype='object')
partner :  Index(['br_c', 'cop_c', 'zon_hlv', 'zon_mcls'], dtype='object')
lpay :  Index(['cust', 'rct_no', 'cop_c', 'chnl_dv', 'de_dt', 'de_hr', 'buy_am'], dtype='object')

In [33]:
cust_demo.head()

         cust ma_fem_dv ages zon_hlv
0  M000034966        여성  40대     Z07
1  M000059535        여성  30대     Z12
2  M000136117        여성  30대     Z11
3  M000201112        여성  50대     Z17
4  M000225114        여성  40대     Z17

In [34]:
prod_buy.cop_c.unique()

array(['A01', 'A02', 'A03', 'A04', 'A05', 'A06'], dtype=object)

In [52]:
prod_cat

        pd_c     pd_nm clac_hlv_nm clac_mcls_nm
0     PD0001        소파          가구         거실가구
1     PD0002   스툴/리빙의자          가구         거실가구
2     PD0003        탁자          가구         거실가구
3     PD0004   장식장/진열장          가구         거실가구
4     PD0005      기타가구          가구         기타가구
...      ...       ...         ...          ...
1928  PD1929      여성향수    화장품/뷰티케어           향수
1929  PD1930      남성향수    화장품/뷰티케어           향수
1930  PD1931    남녀공용향수    화장품/뷰티케어           향수
1931  PD1932    남성향수세트    화장품/뷰티케어           향수
1932  PD1933  남녀공용향수세트    화장품/뷰티케어           향수

[1933 rows x 4 columns]

In [53]:
!git add "데이터 설명.ipynb"

warning: LF will be replaced by CRLF in �뜲�씠�꽣 �꽕紐�.ipynb.
The file will have its original line endings in your working directory

In [54]:
!git commit -m "데이터 설명 파일"

[master c780da9] �뜲�씠�꽣 �꽕紐� �뙆�씪
 1 file changed, 27 insertions(+), 2 deletions(-)

In [ ]:
!git push origin master